<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 card card-body bg-light mb-2 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <label for="name" class="control-label">Category name:</label>
                </div>
                <div class="col-md-7">
                    <span name="name">
                        {{category?.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-8 col-md-1">
            <button type="submit" class="btn btn-info" (click)="deleteCategory()">Delete</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger" (click)="redirectToCategoryList()">Cancel</button>
        </div>
    </div>
    <app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'Action completed successfully'"
        [okButtonText]="'OK'" (redirectOnOK)="redirectToCategoryList()"></app-success-modal>

    <app-error-modal [modalHeaderText]="'Error message'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
    </app-error-modal>
</div>