<div class="container-fluid">
    
    <div class="row  text-center">
        <div class="col-sm-12">
            <div *ngIf="showError" class="alert alert-danger" role="alert">
                <span [innerHTML]="errorMessage"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete this category?
            </div>
    </div>
    <div class="row">
        <div class="col-md-1">
          <strong>Name:</strong>
        </div>
        <div class="col-md-5">
          {{category?.name}}
        </div>
      </div>
    <br>
    <div class="row">
        <div class="col-md-offset-8 col-md-1">
            <button type="submit" class="btn btn-info" (click)="deleteCategory()">Delete</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger" (click)="redirectToCategoryList()">Cancel</button>
        </div>
    </div>
</div>