<section style="margin-bottom: 10px">
    <input type="search" class="form-control" placeholder=@PlaceholderText
           @bind-value="@SearchTerm" @bind-value:event="oninput" 
           @onkeyup="SearchChanged" />
</section>