<div class="row text-center">
  <div class="col-sm-12">
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center mt-2 mb-2">
  <div class="col-sm-auto">
    <form autocomplete="off" [formGroup]="searchForm" novalidate (ngSubmit)="searchBooks(searchForm.value)">
      <span class="align-middle">
        Search by
      </span>
      <select formControlName="searchBy" name="searchBy" id="searchBy" class="align-middle">
        <option value="title">Title</option>
        <option value="author">Author</option>
      </select>
      <input formControlName="searchTerm" placeholder="search term" type="text" name="searchTerm" id="searchTerm"
        class="align-middle ml-1" />
      <button type="submit" class="btn btn-primary btn-sm align-middle ml-1" [disabled]="false">Search</button>
    </form>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-sm-auto">
    <div class="row mb-2">
      <div class="col-sm-auto">
        <a [routerLink]="['/book/create']" class="btn btn-success btn-sm align-middle">Create book</a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-auto">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Book title</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
            let book of books | paginate : {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count
            }
            ">
                <td>{{book.title}}</td>
                <td><button type="button" id="details" class="btn btn-primary btn-sm"
                    (click)="getBookDetails(book.id)">Details</button></td>
                <td>
                  <button type="button" id="update" class="btn btn-success btn-sm"
                    (click)="redirectToUpdatePage(book.id)">Update</button>
                </td>
                <td>
                  <button type="button" id="delete" class="btn btn-danger btn-sm"
                    (click)="redirectToDeletePage(book.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ngx-spinner size="medium" type="ball-spin-clockwise" [fullScreen]="false">
            <p class="loading">Please Wait...</p>
          </ngx-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-sm-auto">
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-sm-auto">
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>