@page "/CustomInternalServerError"


<div class="row">
    <div class="col-md-12">
        <h3 class="text-danger">Unexpected error occurred...</h3>
        <p>
            <img style="max-width:100%" src="/img/shaka-when-the-walls-fell.jpg" />
        </p>
        <p class="text-danger" style="font-size: xx-large;">Sorry for the inconvenience.</p>
        <p class="text-danger" style="font-size: xx-large;">The error has been recorded.</p>
    </div>
</div>
@code {

}
