<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 mb-1 mt-1 alert alert-danger" role="alert">
                Are you sure you want to delete this category?
            </div>
        </div>
        <div class="form-vertical card card-body bg-light">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Name:</strong>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm-12">
                    {{category?.name}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-auto">
                    <button type="submit" class="btn btn-info" (click)="deleteCategory()">Delete</button>
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-danger" (click)="redirectToCategoryList()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>