@page "/categories"

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/createCategory">Create Category</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CategoryTable Categories="CategoryList" />
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination HasNext="HasNext" HasPrevious="HasPrevious" TotalCount="TotalCount" PageSize="PageSize" TotalPages="TotalPages" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>