<div class="card card-body bg-light">
  
  <div class="row  text-center">
    <div class="col-sm-12">
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto">
      <strong>Name:</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto">
      {{category?.name}}
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-auto" style="margin-top: 15px;">
      <button type="button" class="btn btn-info" (click)="redirectToCategoryList()">return to list</button>
    </div>
</div>