@page "/category/{id}"

<h2>Update Category Form</h2>

@if (_category != null)
{
    <EditForm Model="_category" autocomplete="off" OnValidSubmit="Update" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator />
        <div class="form-group">
            <div class="row">
                <div class="col-md-auto">
                    <label for="name" class="col-form-label">Name:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <InputText id="name" class="form-control" @bind-Value="_category.Name" />
                    <ValidationMessage For="@(() => _category.Name)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <button type="button" class="btn btn-info" @onclick="CancelUpdate">Cancel</button>
            </div>
            <div class="col-md-auto">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </EditForm>
}