@page "/categories"
@using BookCatalog.WebBlz.Components;
@using BookCatalog.WebBlz.Shared;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="row">
    <div class="col-md-4">
        <Search OnSearchChanged="SearchChanged" PlaceholderText=@_placeholderSearchText />
    </div>
    <div class="col-md-3 offset-md-5 text-right">
        <a href="/createCategory" class="btn btn-success">New Category</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <CategoryTable Categories="_categoryList" IsLoading="_isLoading" OnDeleted="DeleteCategory" />
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <Pagination MetaData="_pagingMetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>

<YesNoModal @ref="_yesNoModal" Confirmed="CategoryDeletionConfirmed" />