
<div class="row  text-center">
  <div class="col-sm-12">
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
  </div>
</div>
<div class="row">
  <div style="margin-left: 15px;margin-top: 20px;margin-bottom: 20px;" class="col-md-12">
    <form autocomplete="off" [formGroup]="searchForm" novalidate (ngSubmit)="searchCategories(searchForm.value)">
      <span>
        Search by
      </span>
      <select formControlName="searchBy" style="margin-left: 10px;" name="searchBy" id="searchBy" class="align-middle">
        <option value="name">Name</option>
      </select>
      <input formControlName="searchTerm" style="margin-left: 10px;" placeholder="search term" type="text" name="searchTerm" id="searchTerm" class="align-middle" />
      <button style="margin-left: 10px;" type="submit" class="btn btn-primary btn-sm align-middle" [disabled]="false">Search</button>
      <a [routerLink]="['/category/create']" style="margin-right: 15px;float: right;" class="btn btn-success btn-sm align-middle">Create category</a>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
          let category of categories | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }
          ">
            <td style="width:70%">{{category.name}}</td>
            <td style="width:10%"><button type="button" id="details" class="btn btn-light"
                (click)="getCategoryDetails(category.id)">Details</button></td>
            <td style="width:10%">
              <button type="button" id="update" class="btn btn-success"
                (click)="redirectToUpdatePage(category.id)">Update</button>
            </td>
            <td style="width:10%">
              <button type="button" id="delete" class="btn btn-danger"
                (click)="redirectToDeletePage(category.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <ngx-spinner size="medium" type="ball-spin-clockwise" [fullScreen]="false">
        <p class="loading">Please Wait...</p>
      </ngx-spinner>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>