<div class="row">
  <div class="offset-10 col-md-2">
    <a [routerLink]="['/category/create']">Create owner</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
          let category of categories | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }
          ">
            <td>{{category.name}}</td>
            <td><button type="button" id="details" class="btn btn-light"
                (click)="getCategoryDetails(category.id)">Details</button></td>
            <td>
              <button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(category.id)">Update</button>
            </td>
            <td>
              <button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(category.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
</div>