@page "/login"

@if (ShowAuthError)
{
    <div class="row alert alert-danger" role="alert">
        <div class="col">
            <p>@Error</p>
        </div>
    </div>
}

@if (!_isLoading)
{
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-auto mb-1 mt-2">
                    <h2>Login</h2>
                </div>
            </div>
            <EditForm Model="_userForAuthentication" OnValidSubmit="ExecuteLogin" class="card card-body bg-light mt-1">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-12">
                        <label for="email" class="col-sm-auto col-form-label">Email:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <InputText id="email" class="form-control" @bind-Value="_userForAuthentication.Email" />
                        <ValidationMessage For="@(() => _userForAuthentication.Email)" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="password" class="col-md-auto col-form-label">Password:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <InputText type="password" id="password" class="form-control" @bind-Value="_userForAuthentication.Password" />
                        <ValidationMessage For="@(() => _userForAuthentication.Password)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-auto">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}
else
{
    <div class="modal show" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please wait...</h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-success" style="margin-top: 50px; margin-bottom: 50px; width: 3rem; height: 3rem;" role="status">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
