@page "/registration"

@if (ShowRegistrationErrors)
{
    <div class="row alert alert-danger" role="alert">
        <div class="col">
            @foreach (var error in Errors)
            {
                <p>@error</p>
            }
        </div>
    </div>
}

<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-auto mb-1 mt-2">
                <h2>Registration</h2>
            </div>
        </div>
        <EditForm Model="_userForRegistration" OnValidSubmit="Register" class="card card-body bg-light mt-5">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-12">
                    <label for="email" class="col-md-auto col-form-label">Email:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <InputText id="email" class="form-control" @bind-Value="_userForRegistration.Email" />
                    <ValidationMessage For="@(() => _userForRegistration.Email)" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="password" class="col-md-auto col-form-label">Password:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.Password" />
                    <ValidationMessage For="@(() => _userForRegistration.Password)" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="confirm" class="col-md-auto col-form-label">Confirm Password:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ConfirmPassword" />
                    <ValidationMessage For="@(() => _userForRegistration.ConfirmPassword)" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-auto">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>
